$color: red;
.home{
  display: inline-block;
  margin: 0;
  background: $color;
  border-radius: 8px;
  cursor: pointer;
  &:hover{
    animation: move 2s infinite;
  }
}

@keyframes move
{
  from {height:0px;}
  to {height:200px;}
}